@model Library.Models.UpdateUsersViewModel


<h1>Add User</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Username">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email Address</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Mobile No</label>
        <input type="text" class="form-control" asp-for="Mobile_no">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="text" class="form-control" asp-for="Password">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Role</label>
        <input type="text" class="form-control" asp-for="Role">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>